body{
    text-align: center;
}

.display-2{
    font-family: 'Bitter', serif;
    margin-left: -200px;
}

#error, #any{
    color: red;
    margin-left: 150px;
}

.fillbox{
    border-radius: 10px;
    background: rgb(19, 19, 18);
    width: 500px;
}

input{
    width: 150px;
}

#card1{
    color: rgb(239, 239, 245);
}